/*avtor:darko*/
@font-face {
    font-family: oldsans;
    src: url('OldSansBlack.ttf');
}
@font-face {
    font-family: mentone;
    src: url('mentone.otf');
}
.container {
	border:1px solid #ccc; 
	width:200px;
	margin:auto;
	margin-right:0%;
	height: auto;
	overflow-y: 
	scroll;
<<<<<<< HEAD
=======
	text-align:left;
>>>>>>> origin/boco
}
.naslov {
    font-family:oldsans;
    margin-left:25%;
    float:left;
    margin-bottom:-15px;
    font-size:20px;
	font-weight:bold;
}
.naslov-login {
    font-family:oldsans;
    margin-left:25%;
    float:left;
    font-size:20px;
	font-weight:bold;
}
.welcome {
    float:right;
    margin-right:25%; 
    margin-bottom:-20px;
}
.glava {
    background-size:cover;
    background-color:#CCCCCC;
    margin-bottom:-9px;
}
hr {
    border:0;
    height:1px;
    background:black;
}
.glava-login {
    background-size:cover;
    background-color:#CCCCCC;
    margin-bottom:-9px;
}
#menu {
    font-family: mentone;
    font-size:17;
	padding-bottom:2px;
}

body {
    font-family: Tahoma, Geneva, sans-serif;   
    margin:0;
}
#title{
    font-weight:bold;
}
#content {
    margin-left:15%;
    width:65%;
    display:inline-block;
}
#left {
    float:left;
}
#projects {
    float:right;
    background:lightgrey;
    position:absolute;
    right:15%;
	padding-left:15px;
    padding-right:15px;
}
#add {
    text-align:right;
}
#add p {
    text-align:left;
    margin-left:40%;
    font-weight:bold;
    margin-top:5%;
}
#add label {
    font-style:italic;
	vertical-align:top;
}
#add div.error {
    font-weight:normal;
    font-size:10px;
    color:red;
    text-align:left;
    margin-left:-80%;
}
#validation {
    margin-left:25%;
    color:red;
}
textarea.addstory {
    resize:none;
}
#container {
    font-family: Tahoma, Geneva, sans-serif;
    margin-left:40px;
}

.active a:visited{
    color:#000;
}
a:link {
    color:#996699;
    text-decoration:none;
}
a:visited {
    color:#996699;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:active {
    text-decoration:underline;
    color:black;
}
ul.menu {
    margin-left:25%;
    margin-right:25%;   
}
li.menu {
    display:inline;
    margin-right: 3em;
}
li.active {
    display:inline;
    margin-right: 3em;
}
#footer {
    margin-top:5%;
    margin-right:15%;
    margin-left:15%;
    text-align:center;
    background-color:#006699;
    color:white;
}